{% extends 'MopaBootstrapBundle::base_less.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% block head_script %}
{% javascripts
    'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock head_script %}

{% block head_style %}
    {# Override this block to add your own files! #}
    {% stylesheets
        '@ChmMPFormBundle/Resources/public/less/bootstrap.less'
    %}
    {# % stylesheets
        '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
    % #}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
    {# To use this without less use the base_css.html.twig template as your base
     # Be sure you understand whats going on: have a look into
     # https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/css-vs-less.md
     #}
{% endblock head_style %}


{% block choice_widget_expanded %}
    {% spaceless %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default(''))}) %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' ' ~ (widget_type != '' ? (multiple ? 'checkbox' : 'radio') ~ '-' ~ widget_type : ''))}) %}
        {% if expanded %}
            {% set attr = attr|merge({'class': attr.class|default('') ~ ' '}) %}
        {% endif %}
        {% if widget_type == 'inline-btn' %}
            <div class="btn-group" data-toggle="buttons">
        {% endif %}
        {% for child in form %}
            {% if widget_type not in ['inline', 'inline-btn'] %}
                <div class="{{ multiple ? 'checkbox' : 'radio' }}"
                {%- if widget_type == 'inline-btn' %} class="btn-group" data-toggle="buttons"{% endif %}>
            {% endif %}
            {% if widget_type == 'inline-btn' %}
                {% set label_attr = attr|default({})|merge({'class': 'btn ' ~ attr.class|default('')}) %}
            {% endif %}
            {% if child.vars.checked and widget_type == 'inline-btn' %}
                {% set label_attr_copy = label_attr|default({})|merge({'class': 'active ' ~ label_attr.class|default('')}) %}
            {% else %}
                {% set label_attr_copy = label_attr|default({}) %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr_copy %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ form_widget(child, {'horizontal_label_class': horizontal_label_class, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class, 'attr': {'class': attr.widget_class|default('') }}) }}
            {% if widget_type == 'inline-btn' or widget_checkbox_label == 'widget'%}
                {{ child.vars.label|trans({}, translation_domain)|raw }}
            {% else %}
                {{ child.vars.label|trans({}, translation_domain) }}
            {% endif %}
            </label>
            {% if widget_type not in ['inline', 'inline-btn'] %}
                </div>
            {% endif %}
        {% endfor %}
        {% if widget_type == 'inline-btn' %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block content %}

    <div class="col-lg-5">
        <h3>Boutique</h3>
        <p>Pour acheter des t-shirts à l'unité, retrouvez-nous sur notre <a href="http://www.google.com">boutique CDiscount.com</a>.</p>
    </div>
    <div class="col-lg-7">
        <h3>Demande de devis</h3>
        {{ form_start(form) }}
            {{ form_widget(form) }}
        </form>
    </div>

{% endblock content %}

{% block footer %}
<p>&copy; MP Boutik 2014</p>
{% endblock footer %}